! Not a Doctype
!! Also not a doctype
!!!! This, too, is not a doctype
/ The rest are:
!!!
!!! 1.0 Transitional
!!! Strict
!!! Frameset
!!! 5
!!! 1.1
!!! Basic
!!! Mobile
!!! 4.01 Transitional
!!! 4.01 Strict
!!! 4.01 Frameset
!!! XML
!!! XML iso-8859-1
